.container {
  position: absolute;
  inset: 0;
  pointer-events: none;
  z-index: 2;
  overflow: hidden;
}

.leaf {
  position: absolute;
  top: -5%;
  will-change: transform;
  filter: blur(0.3px);
}
